.footer-modal-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
            transition: all 0.25s linear;

    @media screen and (max-width: 1023px) {
        width: 30px;
        height: 30px;
    }

    &:hover,
    &:focus {
        background-color: var(--orange-color);
        transition: all 0.25s linear;
    }
}

.close-icon {
    height: 30px;

    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: white;
    }
}


.backdrop-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    opacity: 1;
    z-index: 1000;
    transition-duration: .4s;
        // transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}


.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.footer-modal-group {
    min-width: 280px;
    max-height: 98%;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: (0px 8px 40px rgba(0, 0, 0, 0.55));
    border-radius: 10px;
    padding: 20px;

    @media screen and (min-width: 768px) {
        width: 618px;
    }

    @media screen and (min-width: 1024px) {
        width: 882px;
    }
}

.footer-modal-group .team-name {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--orange-color);

    @media screen and (min-width: 1024px) {
        font-size: 45px;
    }
        //  &:hover,
        //  &:focus {
        //      transition-duration: 250ms;
        //      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        //      transform: scale(1.3);
        //  }
}

.group {
    display: grid;

    gap: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__item {
        transition-duration: .25s;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

        &:hover {
            
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transform: scale(1.08);
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    &__item-photo {
        width: 280px;
        height: 280px;
        object-fit: cover;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        @media screen and (min-width: 768px) {
            height: 185px;
        }

        @media screen and (min-width: 1024px) {
            height: 280px;
            width: 280px;
        }
    }
}

.participant-info {
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.3px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }

    &__role {
        font-size: 15px;
        font-weight: 400;
        color: var(--orange-color);

        @media screen and (min-width: 1024px) {
            font-weight: 900;
        }
    }

    &__name {
        color: #000;
        @media screen and (min-width: 1024px) {
            font-size: 18px;
        }
    }
}
.team-name-part {
transition-duration: .35s;
}

.team-name-part:hover,
.team-name-part:focus {
    color:#000;
    
        
}

.git {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.git-icon {
    width: 40px;
    height: 40px;
    fill: #000;
    border-radius: 50%;
    transition-duration: 250ms;

    @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
    }

    @media screen and (min-width: 1024px) {
        width: 40px;
        height: 40px;
    }

    &:hover,
    &:focus {
        background-color: var(--orange-color);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.3);
    }
}