.auth {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background-color: rgb(58, 56, 56);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
    z-index: 4;
}

.auth__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    transition-duration: 500ms;
    border: none;
    background-color: transparent;

    &:hover {
        color: #FF6B01;
    }
}

.auth__close-icon {
    fill: currentColor;
    cursor: pointer;
}

.auth__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.sign__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sign__header {
    color: var(--secondary-color-of-text);
    font-size: 30px;
}

.sign__register {
    border: 1px solid gray;
    background-color: transparent;
    padding: 5px 10px;
    color: gray;
    cursor: pointer;
}

.sign__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign__input {
    height: 40px;
    padding-left: 10px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    color: var(--secondary-color-of-text);
    font-size: 12px;

    &:focus {
        outline: none;
    }
}

.sign__submit {
    height: 40px;
    background-color: #FF6B01;
    border: 1px solid #FF6B01;
    box-shadow: 0px 0px 15px -3px #FF6B01;
    border-radius: 5px;
    color: var(--secondary-color-of-text);
    transition-duration: 500ms;

    &:hover {
        background-color: transparent;
        cursor: pointer;
    }
}

.sign__remember {
    margin-top: 10px;
    font-size: 14px;
    color: gray;

    & input {
        margin-right: 5px;
    }
}

.auth__login {
    display: none;
}

.login__error {
    visibility: hidden;
    color: rgb(248, 80, 80);
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.sign__error {
    visibility: hidden;
    color: rgb(248, 80, 80);
    font-size: 12px;
    user-select: none;
}