.modal__backdrop {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(73, 73, 75, 0.397);
  opacity: 1;
}

.modal__backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__container {
  position: absolute;

  top: 20%;
  left: 20%;
  padding: 10px 12px;

  width: 806px;
  height: 558px;

  border-radius: 20px;
  color: white;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.modal__close-btn {
  position: absolute;
  top: 10;
  right: 10;
  z-index: 14;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal__close-icon {
  fill: #000000;
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: #ff6b01;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
