[data-theme='dark'] {
  --bg-color: #263238;
  --text-color: #e0e0e0;
}

body {
  transition-duration: 500ms;
}

.theme {
  z-index: 1000000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  left: 30px;
}

.toggle-button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 25px;
  background-color: #f5f5f5;
  border-radius: 50px;
  position: fixed;
  bottom: 51px;
  left: 2px;
  transition: 0.4s;
  @media screen and (min-width: 768px) {
    bottom: 40px;
    left: 25px;
  }
}

.toggle-button:before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  background-image: url(../images/switch-theme/sunny-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.4s;
}

.toggle-button:checked {
  background-color: #212121;
}

.toggle-button:checked:before {
  background-color: none;
  background-image: url(../images/switch-theme/moon-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate(100%);
  transition: 0.4s;
}
