<div class="backdrop-team hidden" data-modal>
    <div class="footer-modal-group container">
        <button type="button" class="footer-modal-close-btn" data-modal-close>
        <img src="./images/footer/close_team.png" alt="close" width="20">
        </button>
        <h2 class="team-name"><span class="team-name-part">S </span><span class="team-name-part">t </span><span class="team-name-part">a </span><span class="team-name-part">r </span><span class="team-name-part">w </span><span class="team-name-part">a </span><span class="team-name-part">y</span></h2>
        <ul class="group list">
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U03THQW78HJ-1c5a9cf2ea88-512" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Ilya Lazarenko</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/ilyalazarenkoit">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U03T5UDD3A8-a13450a838eb-512" alt="photo Olga N.">
                <div class="participant-info">
                    <p class="participant-info__name">Albina Shmatko</p>
                    <p class="participant-info__role">Scrum-master</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/alaskaart">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U03TT3617TJ-2a238310f760-512" alt="photo Anna M.">
                <div class="participant-info">
                    <p class="participant-info__name">Artur Yurkov</p>
                    <p class="participant-info__role">Developer</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/ArthurYurkov">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U0472LK9XGV-478dc4408eda-512" alt="photo Maxim L.">
                <div class="participant-info">
                    <p class="participant-info__name">Denis Petlevany</p>
                    <p class="participant-info__role">Developer</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/denpetlevany">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U03TNFG0K3K-0ac18a07ca67-512" alt="photo Valerii M.">
                <div class="participant-info">
                    <p class="participant-info__name">Oleksandr Ilnitsky</p>
                    <p class="participant-info__role">Developer</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/alex-main-academy">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="https://ca.slack-edge.com/T03SJHRHKSA-U03TACRJ5TK-04cdd2486025-512" alt="photo Sergey L.">
                <div class="participant-info">
                    <p class="participant-info__name">Taras Lukaniuk</p>
                    <p class="participant-info__role">Developer</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/Lukast2008">
                    <img class="git-icon" src="./images/footer/github.png" alt="git">
                </a>
            </li>
        </ul>
    </div>
</div>